
  .menu{
    padding: 0px;
    margin: 0px;
    position: fixed;
    background-color: rgb(247, 248, 255);
    height: 100%;
    right: 0px;
    top:0px;
    z-index: 20;
    box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.35);

    .panel{
      margin: 0px;
    }

    .typical-panel{
      height: 120px;

      .infor{
        position: relative;
        display: flex;
        width: 30%;
        bottom: 15px;
        right: 15px;

        .size1{
          margin-left: 15px;

          h6{
            color: black;
          }
        }
      }
      .half{
        position: relative;
        left: 275px;
        bottom: 79px;
        img{
          max-width: 100px;
        }
      }
      h5{
        font-size: 18px;
        color: darken(@mainColor, 6%);
        position: relative;
        bottom: 10px;
      }
      .price1{
        margin: 0px;
        color: black;
        padding: 0px;
        font-weight: bold;
        position: relative;
        display: flex;
        right: 15px;
        bottom: 110px;
        left: 1px;

        .buttons{
          position: relative;
          left: 10px;
          bottom: 4px;

          .glyphicon{
            font-size: 9px;
            border-radius: 15px;
            padding-right: 8px;
            padding-left: 8px;
            padding-top: 7px;
            padding-bottom: 12px;
            height: 26px;
          }
          .glyphicon-minus{
            color: white;
            position: relative;
            left: 12%;
            border: 1px solid #d22832;
            background-image: linear-gradient(#d22832 20%, #c4252f 70%, #b2212b);
          }
          .pizza-amount{
            font-size: 12px;
            position: relative;
            left: 14%;
            margin: 3px;
          }
          .glyphicon-plus{
            color: white;
            position: relative;
            left: 16%;
            border: 1px solid #09ab31;
            background-image: linear-gradient(#09ab31 20%, #099f2d 70%, #088b27);
          }
          .glyphicon-remove{
            color: @mainColor;
            position: relative;
            left: 35%;
            border: 1px solid #c7c7c7;
            background-image: linear-gradient(#fffaff 20%, #eae5ea 70%, #cdc8cd);
          }
        }
        p {
          font-size: 13px;
          position: relative;
          left: 1px;
          top: 2px;
        }
        a {
          color: black;
          font-size: 15px;
        }
      }
    }

    .title{
      width: 100%;
      display: inline-block;
      margin: 0px;
      position: relative;
      right: 8px;
      color: black;
      font-weight: 600;
      font-size: 12px;
      padding-top: 5px;
      padding-bottom: 5px;

      span{
        background-color: darken(@mainColor, 6%);
      }

      .delete{
        opacity: 0.84;
        font-size: 7px;
        padding: 0px;
        position: relative;
        left: 6%;
      }
    }

    #order{
      position: fixed;
      bottom: 0px;
      width: 100%;
      height: 140px;

      .price1{
        margin: 0px;
        color: black;
        padding: 0px;
        font-weight: bold;
        position: relative;
        display: flex;
        bottom: 35px;
        left: 18%;

        p {
          font-size: 17px;
          position: relative;
          left: 1px;
          top: 2px;
        }
        a {
          color: black;
          font-size: 20px;
        }
      }
      h6{
        position: relative;
        bottom: 8px;
        right: 4px;
        font-weight: 800;
        font-size: 13px;
      }
      a{
        position: relative;

      }
      .to-buy{
        background-image: @buttonsColor;
        border-radius: 8px;
        margin: 10px;

        width: 22%;
        position: relative;
        bottom: 30px;
        padding-right: 12%;
        padding-left: 8%;
        padding-top: 13px;
        padding-bottom: 13px;

        a{
          color: white;
          font-size: 18px;
        }
      }
    }
  }