@mainColor: #ea8e3d;

@import "pizza/pizza-card";
@import "my";
@import "header";
@import "basket";

.btn{
  margin-top: 5px;
  margin-bottom: 0px;
  color: white;
  opacity: 1;
  background-color: darken(@mainColor, 4%);
  border: none;
}

.container-fluid{
  padding: 0px;
  margin: 0px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  display: block;
}
