
        <nav class="navbar navbar-inverse">
            <div class="row">
                <div class="col-lg-1">
                    <a class="navbar-brand">
                        <img alt="Brand" src="assets/images/discount.svg">
                        <h4 class="text-uppercase">Pizza</h4>
                        <h3 class="text-uppercase">Kma</h3>
                    </a>
                    <a class="discount">
                        <img alt="Sale" src="assets/images/discount.svg">
                        <div class="text-uppercase" id="sale">Цього тижня на все<hr class="dotted"></div>
                        <p>-20%</p>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="contacts row">
                        <ul class="list-inline">
                            <li id="phone-number">(044) 222 5 222</li>
                            <li class="hidden-xs"><small><small>24 години/ 7 днів на тиждень</small></small></li>
                            <li class="hidden-xs hidden-sm"><small>Безкоштовна доставка піци</small></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default navbar-btn">Ввійти</button>
                    <div class="page-header">
                    </div>
                    <div id="pizza">
                        <h5 class="pizza">Піца</h5>
                    </div>
                </div>
            </div>
        </nav>
