.menu{
  padding: 0px;
  margin: 0px;
  position: fixed;
  background-color: rgb(247, 248, 255);
  height: 100%;
  right: 0px;
  top:0px;
  z-index: 20;
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.35);

  .cart-menu{
    overflow-y: auto;
    overflow-x: hidden;
  }

  .panel{
    margin: 0px;
  }

  .typical-panel{

    .infor{
      position: relative;
      display: flex;

      .size1{
        h6{
          color: black;
        }
      }
    }
    .half{
      position: relative;
    }
    h5{
      color: darken(@mainColor, 6%);
      position: relative;
    }
    .price1{
      margin: 0px;
      color: black;
      padding: 0px;
      font-weight: bold;
      position: relative;
      display: flex;

      .buttons{
        position: relative;

        .glyphicon-minus{
          color: white;
          position: relative;
          border: 1px solid #d22832;
          background-image: linear-gradient(#d22832 20%, #c4252f 70%, #b2212b);
        }
        .pizza-amount{
          position: relative;
          margin: 3px;
        }
        .glyphicon-plus{
          color: white;
          position: relative;
          border: 1px solid #09ab31;
          background-image: linear-gradient(#09ab31 20%, #099f2d 70%, #088b27);
        }
        .glyphicon-remove{
          color: @mainColor;
          position: relative;
          border: 1px solid #c7c7c7;
          background-image: linear-gradient(#fffaff 20%, #eae5ea 70%, #cdc8cd);
        }
      }
      p {
        position: relative;
      }
      a {
        color: black;
      }
    }
  }

  .row{
    display: inline-block;

    .title{
      width: 45%;
      display: inline-block;
      color: black;
      font-weight: 600;
      padding: 0px;
    }
    span{
      background-color: darken(@mainColor, 6%);
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 5px;
      padding-left: 5px;
      position: relative;
      left: 35%;
    }
    .del{
      width: 55%;
      position: absolute;

      .delete{
        opacity: 0.84;
        left: 40%;
        padding: 0px;
        top: 5px;
        width: 100%;
      }
    }
  }

  #order{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 140px;

    .price1{
      margin: 0px;
      color: black;
      padding: 0px;
      font-weight: bold;
      position: relative;
      display: flex;

      p {
        position: relative;
      }
      a {
        color: black;
      }
    }
    h6{
      position: relative;
      font-weight: 800;
    }
    a{
      position: relative;

    }
    .buying{
      margin: 10px;

      position: absolute;

      color: white;
      font-size: 20px;
    }
  }
}